**/classes/**
target/*SNAPSHOT.jar
target/*dependencies.jar
**/maven-archiver
/maven-status/
discord.txt
/.settings/
/target/
.classpath
.project
dependency-reduced-pom.xml
.gitignore
pom.xml